%h1= title 'Recent Edits'
- @versions.each do |version|
  %ul#recent-edits
    %li{ :class => spam_or_ham(version) }
      %h2= link_to version.page.name, url(:page, version.page)
      = version.content_html