- title @page.name + ' / Edits'

%h1
  = link_to @page.name, url(:page, @page)
  \/ Edits

#edits
  - @page.versions.all(:order => [:id.desc]).each do |version|
    .edit
      %p.timestamp= "#{time_ago_in_words(version.created_at)} ago"
      = view_diff(version.diff(version.page.versions, :content))