/* ****************************** */
/* * GENERAL */
/* ****************************** */
body {
  background: #DDD; }

pre {
  background-color: black;
  color: white; }

/* ****************************** */
/* * HEADER */
/* ****************************** */
#header {
  background-color: #444;
  border-bottom: 4px solid black;
  color: white; }
  #header a {
    color: white;
    text-decoration: none; }
    #header a#active, #header a:hover {
      background-color: white;
      color: black; }

/* ****************************** */
/* * CONTENT */
/* ****************************** */
/* #notice p */
#content {
  background-color: white;
  /* a */
  /* &:hover */ }

/* ****************************** */
/* * SIDEBAR */
/* ****************************** */
/* #sidebar */
/* a */
/* &:hover */
/* h2 */
/* ****************************** */
/* * FOOTER */
/* ****************************** */
/* #footer */
/* p */
/* a */
/* &:hover */
/* ****************************** */
/* * ADMIN SECTION */
/* ****************************** */
#recent-edits h2 {
  color: black; }
  #recent-edits h2 a {
    color: black; }
#recent-edits li.ham {
  background-color: #C7FFC9; }
  #recent-edits li.ham h2 a:hover {
    background-color: black;
    color: #C7FFC9; }
#recent-edits li.spam {
  background-color: #FFC7DF; }
  #recent-edits li.spam h2 a:hover {
    background-color: black;
    color: #FFC7DF; }

#recent-edits button, #edit-filters button {
  background-color: #F5F5F5;
  border: 1px solid #DEDEDE;
  border-top: 1px solid #EEE;
  border-left: 1px solid #EEE;
  color: #565656;
  text-decoration: none; }

div.diffdel {
border-color:#B8B5B4 rgb(184, 181, 180) rgb(184, 181, 180) rgb(182, 0, 44);
border-style:solid;
border-width:1px 1px 1px 8px;
overflow:hidden;
padding:5px;
}
div.diffadd {
border-color:#B8B5B4 rgb(184, 181, 180) rgb(184, 181, 180) rgb(118, 180, 28);
border-style:solid;
border-width:1px 1px 1px 8px;
overflow:hidden;
padding:5px;
}
div.difftype {
font-size:10px;
font-weight:bold;
}
div.diffadd p, div.diffdel p {
margin-bottom:0px;
}
div.diffrestore {
font-size:10px;
font-weight:bold;
margin-bottom:20px;
}
div.difftime {
border-bottom:1px solid #BBBBBB;
font-size:12px;
font-weight:bold;
margin-bottom:5px;
}
