

























#content blockquote p {
  font-style: oblique;
  margin: 20px; }
#content li {
  margin-bottom: 5px; }
#content ol {
  padding-left: 20px; }
#content pre {
  margin-bottom: 10px;
  margin-top: 10px; }
#content textarea {
  height: 400px;
  width: 99%; }
#content ul#list-of-pages, #content ul#recent-edits, #content form ul {
  list-style-type: none;
  padding-left: 0; }
#content ul {
  padding-left: 15px;
  list-style-type: disc; }
#content #page-form h1 {
  border-bottom: none;
  margin-bottom: 10px; }
#content #page-form p {
  margin-bottom: 0; }
  #content #page-form p a {
    text-decoration: none; }
#content #edit-filters {
  position: absolute;
  right: -7px;
  top: 0; }
#content #recent-edits li {
  padding: 5px;
  position: relative; }
  #content #recent-edits li h2 {
    color: black;
    margin-top: 0; }
    #content #recent-edits li h2 a {
      color: black; }
  #content #recent-edits li.ham {
    background-color: #C7FFC9; }
    #content #recent-edits li.ham h2 a:hover {
      background-color: black;
      color: #C7FFC9; }
  #content #recent-edits li.spam {
    background-color: #FFC7DF; }
    #content #recent-edits li.spam h2 a:hover {
      background-color: black;
      color: #FFC7DF; }
  #content #recent-edits li .moderate-edit {
    position: absolute;
    right: 6px;
    top: 11px; }
#content #recent-edits button, #content #edit-filters button {
  background-color: #F5F5F5;
  display: block;
  float: left;
  margin: 0 7px 0 0;
  border: 1px solid #DEDEDE;
  border-top: 1px solid #EEE;
  border-left: 1px solid #EEE;
  font-size: 100%;
  line-height: 130%;
  text-decoration: none;
  font-weight: bold;
  color: #565656;
  cursor: pointer;
  padding: 5px 10px 6px 7px; }
