body {
  font: normal 12px "Lucida Grande", "Arial", sans-serif;
  padding: 10px; }

h1 {
  font-size: 1.5em; }

h2 {
  font-size: 1.3em; }

h1, h2 {
  margin-bottom: .2em; }

input, textarea {
  width: 500px; }

label {
  display: block; }

ul#page-form {
  list-style-type: none;
  margin: 0;
  padding: 0; }

textarea {
  height: 500px; }
