/*
===============================================================================
Chili is the jQuery code highlighter plugin
...............................................................................
                                               Copyright 2007 / Andrea Ercolino
-------------------------------------------------------------------------------
LICENSE: http://www.opensource.org/licenses/mit-license.php
WEBSITE: http://noteslog.com/chili/
===============================================================================
*/
.javascript .mlcom    { color: #999; }
.javascript .com      { color: #999; }
.javascript .regexp   { color: #6CC; }
.javascript .string   { color: #6F0; }
.javascript .keywords { color: #F60; }
.javascript .global   { color: blue; }
.javascript .numbers  { color: #6C6; }
