%h2 New Page

- form_for :page, :action => url(:page) do
  %ul#page-form
    %li= text_control :name, :label => 'Name'
    %li~ text_area_control :content, :label => 'Content'
    %li= submit_button 'Submit'